Repository lightofficialstudio/sb-web-helper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @light, @team-lead, @documentation-team, @qa-team

✅ refactor: implement v2 API for server status; update state management and response handling
  src/app/health-check/all-server-status/page.tsx
  src/stores/actions/server/call-get-server-status.v2.ts
  src/stores/reducers/server/call-get-server-status.v2.ts
  src/stores/store.ts
  src/stores/type.ts
Owners: @light, @team-lead

🚀 New Upgrade : Menu Health Check Version Control
  src/app/api/v1/health-check/version-control/route.ts
  src/app/api/v1/mobile/statistic/route.ts
  src/app/health-check/version-control/page.tsx
  src/app/mobile/notification/page.tsx
  src/constants/sidebar-menu-constant.tsx
  src/locales/eng-menu.json
  src/locales/thai-menu.json
  src/stores/actions/health-check/version-control/action.ts
  src/stores/actions/mobile/call-get-leave-letter.ts
  src/stores/reducers/health-check/version-control/reducer.ts
  src/stores/store.ts
  src/stores/type.ts
Owners: @light, @team-lead

🚀 Change location notification to the top-right corner
  src/app/auth/signin/auth-form.tsx
  src/app/hardware/canteen/page.tsx
  src/app/health-check/all-server-status/page.tsx
  src/app/health-check/offline-sync-status/page.tsx
  src/app/health-check/online-status/page.tsx
  src/app/support/bypass/page.tsx
  src/app/support/test/nfc/page.tsx
  src/components/auth/sign-in-panel.tsx
Owners: @light, @team-lead

🔺 Upgrade V.2.0.0
  src/app/auth/signin/auth-form.tsx
  src/app/backend/page.tsx
  src/app/hardware/canteen/page.tsx
  src/app/health-check/all-server-status/page.tsx
  src/app/health-check/offline-sync-status/page.tsx
  src/app/health-check/online-status/page.tsx
  src/app/health-check/version-control/page.tsx
  src/app/layout.tsx
  src/app/mobile/leave-letter/page.tsx
  src/app/mobile/statistic/page.tsx
  src/app/support/bypass/page.tsx
  src/app/support/test/nfc/page.tsx
  src/components/auth/auth-tabs.tsx
  src/components/auth/sign-in-panel.tsx
  src/components/button/dropdown-button-component.tsx
  src/components/button/dropdown-group-button-component.tsx
  src/components/button/minimal-button-component.tsx
  src/components/input-field/date-picker-component.tsx
  src/components/layouts/backend-layout.tsx
  src/components/layouts/backend/navbar.tsx
  src/components/layouts/backend/sidebar-component.tsx
  src/components/loading/loading-component-1.tsx
  src/constants/sidebar-menu-constant.tsx
  src/styles/globals.css
Owners: @light, @team-lead

🚀 Upgrade SB-WEB-HELPER to v.1.2.0
  package.json
  src/app/backend/page.tsx
  src/app/hardware/canteen/page.tsx
  src/components/button/dropdown-button-component.tsx
  src/components/input-field/input-component.tsx
  src/components/input-field/radio-component.tsx
  src/components/input-field/searchable-select-component.tsx
  src/components/input-field/toggle-switch-component.tsx
  src/components/input-field/upload-component.tsx
  src/components/modal/modal-component.tsx
  src/constants/sidebar-menu-constant.tsx
  src/locales/eng-menu.json
  src/locales/thai-menu.json
  src/stores/reducers/hardware/canteen/call-post-update-application-version.ts
  src/stores/type.ts
Owners: @light, @team-lead

✅ Fixing Bug
  src/components/auth/sign-in-panel.tsx
  src/components/input-field/input-component.tsx
  src/stores/reducers/hardware/canteen/call-post-create-application-version.ts
Owners: @light, @team-lead

Update README.md
  README.md
Owners: none

Create SECURITY.md
  SECURITY.md
Owners: none

✅ Update CI/CD
  .github/workflows/release-production.yml
  src/app/support/bypass/page.tsx
Owners: @light, @team-lead

✅ Update QR Code generator health-check
  package.json
  src/app/api/v1/mobile/qrcode-health-check/route.ts
  src/app/mobile/qrcode-health-check/page.tsx
  src/components/input-field/input-component.tsx
  src/components/input-field/school_id/reuse-dropdown-school-component.tsx
  src/components/input-field/searchable-select-component.tsx
  src/components/layouts/backend/content.tsx
  src/constants/sidebar-menu-constant.tsx
  src/helpers/call-with-logging.ts
  src/locales/eng-menu.json
  src/locales/thai-menu.json
  src/services/api-url.tsx
  src/stores/actions/mobile/qrcode-health-check/action.ts
  src/stores/reducers/mobile/qrcode-health-check/reducer.ts
  src/stores/store.ts
  src/stores/type.ts
Owners: @light, @team-lead

✅ First Commit for timesheet system
  command/migrate.timesheet.postgresql.md
  package-lock.json
  package.json
  prisma/timesheet/migrations/20250902080603_init_timesheet/migration.sql
  prisma/timesheet/migrations/20250902083633_init_timesheet/migration.sql
  prisma/timesheet/migrations/20250902085324_init_timesheet/migration.sql
  prisma/timesheet/migrations/migration_lock.toml
  prisma/timesheet/schema.prisma
  src/app/api/v1/timesheet/project/delete/route.ts
  src/app/api/v1/timesheet/project/insert/route.ts
  src/app/api/v1/timesheet/project/read/route.ts
  src/app/timesheet/entry/page.tsx
  src/app/timesheet/project/page.tsx
  src/components/table/base-table-component.tsx
  src/constants/sidebar-menu-constant.tsx
  src/helpers/api/response.ts
  src/helpers/prisma-timesheet.ts
  src/locales/thai-menu.json
  src/services/backend/timesheet/project.service.ts
Owners: @light, @team-lead

✅ Update timesheet feature
  src/app/api/v1/timesheet/project/delete/route.ts
  src/app/api/v1/timesheet/project/insert/route.ts
  src/app/api/v1/timesheet/project/read/route.ts
  src/app/timesheet/project/page.tsx
  src/components/layouts/backend/user-dropdown.tsx
  src/components/modal/minimal-modal-component.tsx
  src/components/table/base-table-component.tsx
  src/helpers/api/validate.request.ts
  src/services/backend/timesheet/project.service.ts
  src/stores/actions/timesheet/project/delete/action.ts
  src/stores/actions/timesheet/project/insert/action.ts
  src/stores/actions/timesheet/project/read/action.ts
  src/stores/reducers/timesheet/project/delete/reducer.ts
  src/stores/reducers/timesheet/project/insert/reducer.ts
  src/stores/reducers/timesheet/project/read/reducer.ts
Owners: @light, @team-lead

✅ Upgrade new timesheet system + API LOG
  src/app/api/v1/authentication/refresh-token/route.ts
  src/app/api/v1/hardware/canteen/application/route.ts
  src/app/api/v1/hardware/canteen/create/route.ts
  src/app/api/v1/hardware/canteen/update/route.ts
  src/app/api/v1/hardware/canteen/version/[id]/route.ts
  src/app/api/v1/hardware/check-online/route.ts
  src/app/api/v1/mobile/leave-letter/route.ts
  src/app/api/v1/timesheet/project/delete/route.ts
  src/app/api/v1/timesheet/project/insert/route.ts
  src/components/input-field/input-component.tsx
  src/components/input-field/searchable-select-component.tsx
  src/helpers/beutiful-log.ts
  src/helpers/call-with-logging.ts
  src/middleware.ts
Owners: @light, @team-lead

✅ Update timesheet sub-project api
  src/app/api/v1/timesheet/project/delete/route.ts
  src/app/api/v1/timesheet/project/insert/route.ts
  src/app/api/v1/timesheet/project/sub-project/[project_id]/route.ts
  src/app/api/v1/timesheet/project/sub-project/delete/route.ts
  src/app/api/v1/timesheet/project/sub-project/insert/route.ts
  src/app/api/v1/timesheet/project/sub-project/read/route.ts
  src/app/api/v2/authentication/sign-in/route.ts
  src/app/timesheet/project/sub-project/[project_id]/page.tsx
  src/components/auth/sign-in-panel.tsx
  src/components/layouts/backend/user-dropdown.tsx
  src/components/providers/auth-provider.tsx
  src/helpers/api/api.log.ts
  src/middleware.ts
  src/services/backend/timesheet/project.service.ts
  src/services/backend/timesheet/sub-project/sub-project.service.ts
  src/stores/actions/authentication/sign-in/action.ts
  src/stores/reducers/authentication/sign-in/reducer.ts
  src/stores/store.ts
  src/stores/type.ts
Owners: @light, @team-lead

✅ Upgrade sub-project feature success frontend + backend
  command/migrate.timesheet.postgresql.md
  prisma/timesheet/schema.prisma
  src/app/api/v1/timesheet/project/sub-project/read/route.ts
  src/app/timesheet/project/page.tsx
  src/app/timesheet/project/sub-project/[project_id]/page.tsx
  src/components/modal/minimal-modal-component.tsx
  src/styles/globals.css
Owners: @light, @team-lead

✅ Insert icon in Login Screen
  src/components/auth/sign-in-panel.tsx
  src/components/button/rounded-button-component.tsx
  src/components/input-field/input-component.tsx
Owners: @light, @team-lead

✅ Added Transaction Log
  src/app/health-check/transaction-log/page.tsx
  src/components/layouts/backend/sidebar-component.tsx
  src/constants/sidebar-menu-constant.tsx
  src/locales/thai-menu.json
Owners: @light, @team-lead

✅ Update new API Payment Slip
  src/app/api/v1/health-check/transaction-log/payment-slip/list/route.ts
  src/app/api/v1/health-check/version-control/route.ts
  src/app/health-check/transaction-log/page.tsx
  src/components/layouts/backend/sidebar-component.tsx
  src/helpers/api/response.ts
  src/stores/actions/mobile/call-post-statistic.ts
Owners: @light, @team-lead

Delete docker-compose.yml
  docker-compose.yml 
Owners: none

🚀 Update timesheet system
  prisma/timesheet/schema.prisma
  src/app/api/v1/timesheet/entry/delete/route.ts
  src/app/api/v1/timesheet/entry/insert/route.ts
  src/app/api/v1/timesheet/entry/read/route.ts
  src/app/timesheet/entry/page.tsx
  src/app/timesheet/project/sub-project/[project_id]/page.tsx
  src/components/input-field/input-component.tsx
  src/components/modal/minimal-modal-component.tsx
  src/constants/sidebar-menu-constant.tsx
  src/locales/thai-menu.json
  src/services/backend/timesheet/entry.service.ts
  src/stores/type.ts
Owners: @light, @team-lead

Delete docker-compose.yml
  docker-compose.yml 
Owners: none

Add breadcrumb and ant design lib
  package-lock.json
  package.json
  src/app/ant/page.tsx
  src/components/breadcrump/breadcrumb-component.tsx
  src/components/layouts/backend-layout.tsx
Owners: @light, @team-lead

Version Control convert to using AntDesign
  src/app/ant/page.tsx
  src/app/health-check/version-control/page.tsx
Owners: @light, @team-lead

🐳 New Heartbeats UI
  package-lock.json
  package.json
  src/app/api/v1/health-check/server/heartbeats/route.ts
  src/app/hardware/canteen/page.tsx
  src/app/health-check/heartbeats/page.tsx
  src/app/health-check/version-control/page.tsx
  src/app/mobile/qrcode-health-check/page.tsx
  src/app/support/bypass/page.tsx
  src/app/timesheet/entry/page.tsx
  src/app/timesheet/project/page.tsx
  src/app/timesheet/project/sub-project/[project_id]/page.tsx
  src/components/auth/sign-in-panel.tsx
  src/components/input-field/input-component.tsx
  src/components/layouts/backend/sidebar-component.tsx
  src/components/layouts/backend/user-dropdown.tsx
  src/components/upload/upload-file-component.tsx
  src/constants/sidebar-menu-constant.tsx
  src/locales/thai-menu.json
  src/stores/actions/health-check/heartbeats/action.ts
  src/stores/reducers/health-check/heartbeats/reducer.ts
  src/stores/store.ts
  src/stores/type.ts
Owners: @light, @team-lead

✨ Update TimeSheet System
  command/migrate.timesheet.postgresql.md
  src/app/api/v1/timesheet/entry/insert/route.ts
  src/app/api/v1/timesheet/entry/read/route.ts
  src/app/api/v1/timesheet/helper/timesheet.validation.ts
  src/app/api/v1/timesheet/project/sub-project/insert/route.ts
  src/app/timesheet/entry/page.tsx
  src/components/input-field/input-component.tsx
  src/components/providers/auth-provider.tsx
  src/services/backend/timesheet/entry.service.ts
  src/services/backend/timesheet/sub-project/sub-project.service.ts
  src/styles/globals.css
Owners: @light, @team-lead

✅ Release fix "npm run build"
  src/app/api/v1/timesheet/entry/insert/route.ts
  src/app/timesheet/entry/page.tsx
  src/stores/store.ts
Owners: @light, @team-lead

✅ Added timesheet prisma generate to CI/CD
  .github/workflows/release-production.yml
Owners: @light

✅ Added Generate Prisma Timesheet into CI/CD
  .github/workflows/release-production.yml
Owners: @light

✅ Release Timesheet fixed template
  .gitignore
  src/app/timesheet/entry/page.tsx
  src/app/timesheet/project/page.tsx
  src/app/timesheet/project/sub-project/[project_id]/page.tsx
Owners: @light, @team-lead

✅ Timesheets Fixed
  .gitignore
  generated/prisma-timesheet/edge.js
  generated/prisma-timesheet/index-browser.js
  generated/prisma-timesheet/index.d.ts
  generated/prisma-timesheet/index.js
  generated/prisma-timesheet/package.json
  generated/prisma-timesheet/schema.prisma
  generated/prisma-timesheet/wasm.js
  prisma/timesheet/schema.prisma
  src/app/timesheet/project/page.tsx
  src/services/backend/timesheet/entry.service.ts
  src/services/backend/timesheet/project.service.ts
  src/services/backend/timesheet/sub-project/sub-project.service.ts
Owners: @light, @team-lead

✅ Deploy to production
  src/app/api/v1/health-check/server/heartbeats/update/[id]/route.ts
  src/app/api/v1/mobile/notification/read-message/route.ts
  src/app/api/v1/timesheet/entry/delete/route.ts
  src/app/api/v1/timesheet/entry/read/route.dto.ts
  src/app/api/v1/timesheet/entry/read/route.ts
  src/app/api/v1/timesheet/entry/read/route.validator.ts
  src/app/api/v1/timesheet/project/read/route.ts
  src/app/api/v1/timesheet/project/sub-project/read/route.ts
  src/app/health-check/heartbeats/page.tsx
  src/app/health-check/transaction-log/page.tsx
  src/app/layout.tsx
  src/app/timesheet/entry/page.tsx
  src/app/timesheet/project/page.tsx
  src/app/timesheet/project/sub-project/[project_id]/page.tsx
  src/components/layouts/backend/sidebar-component.tsx
  src/components/layouts/permission-layout.tsx
  src/components/table/minimal-table-component.tsx
  src/constants/sidebar-menu-constant.tsx
  src/helpers/api/response.ts
  src/services/backend/timesheet/entry.service.ts
  src/services/backend/timesheet/project.service.ts
  src/stores/type.ts
Owners: @light, @team-lead

✅ Pull Latest Database
  .github/workflows/release-production.yml
  src/app/api/v1/timesheet/entry/delete/route.ts
  src/app/timesheet/entry/page.tsx
Owners: @light, @team-lead

✅ Push new database
  .github/workflows/release-production.yml
  .gitignore
  generated/prisma-timesheet/edge.js
  generated/prisma-timesheet/index.js
Owners: @light

✅ Fix ID
  src/app/timesheet/project/sub-project/[project_id]/page.tsx
  src/components/providers/auth-provider.tsx
  src/locales/thai-menu.json
Owners: @light, @team-lead

✅ FIX ENTRY TIMESHEET SYSTEM
  src/app/api/v1/timesheet/entry/insert/route.ts
  src/app/timesheet/entry/page.tsx
  src/services/backend/timesheet/entry.service.ts
Owners: @light, @team-lead

✅ :: Auth Layouts
  src/components/layouts/permission-layout.tsx
  src/components/providers/auth-provider.tsx
Owners: @light, @team-lead

.github/CODEOWNERS:

# CODEOWNERS file

# Each line is a file pattern followed by one or more owners.

# Default owner for everything in the repository

-       @light

# Specific owners for certain directories or files

.github/ @light
src/ @light @team-lead
docs/ @documentation-team
tests/ @qa-team
