Repository lightofficialstudio/sb-web-helper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @light, @team-lead, @documentation-team, @qa-team

feat: Refactor Discord webhook integration to use environment variables for webhook URLs and improve user mention handling
  src/app/api/v1/integrations/discord/push-release/route.ts
  src/app/api/v1/integrations/discord/push/route.ts
  src/app/api/v1/integrations/discord/route.ts
Owners: @light, @team-lead

fix: Correct user mention IDs for Discord integration in push and pull request events
  src/app/api/v1/integrations/discord/push-release/route.ts
  src/app/api/v1/integrations/discord/route.ts
Owners: @light, @team-lead

fix: Update TeamSupport user mention format for Discord integration
  src/app/api/v1/integrations/discord/push-release/route.ts
Owners: @light, @team-lead

feat: Add user mention for Krishnan in Discord webhook integration for academic repository
  src/app/api/v1/integrations/discord/push-release/route.ts
  src/app/api/v1/integrations/discord/route.ts
  src/helpers/api/discord-id-user.ts
Owners: @light, @team-lead

fix: Update Discord user mentions to use TeamSupport for multiple repositories
  .github/workflows/release-production.yml
  src/app/api/v1/integrations/discord/push-release/route.ts
Owners: @light, @team-lead

feat: Add user mention for Tuk in Discord integration for sb-web-accounting-system
  src/app/api/v1/integrations/discord/push-release/route.ts
  src/app/api/v1/integrations/discord/route.ts
  src/helpers/api/discord-id-user.ts
Owners: @light, @team-lead

fix: Comment out SonarQube scan job in release production workflow
  .github/workflows/release-production.yml
Owners: @light

fix: Update user mention for sb-web-accounting-system to use TeamSupport
  src/app/api/v1/integrations/discord/push-release/route.ts
Owners: @light, @team-lead

fix: Update Discord webhook configuration for sb-web-system and sb-web-academic repositories
  src/app/api/v1/integrations/discord/route.ts
Owners: @light, @team-lead

feat: Add release server identification for Discord notifications
  src/app/api/v1/integrations/discord/push-release/route.ts
Owners: @light, @team-lead

fix: Update commit message formatting in Discord notification
  src/app/api/v1/integrations/discord/push-release/route.ts
Owners: @light, @team-lead

fix: Refactor commit message formatting and remove unused compare URL in Discord notification
  src/app/api/v1/integrations/discord/push-release/route.ts
Owners: @light, @team-lead

fix: Add support for sb-api-mobile repository in Discord notifications
  src/app/api/v1/integrations/discord/push-release/route.ts
  src/app/api/v1/integrations/discord/route.ts
Owners: @light, @team-lead

feat: Add activity URLs and update bypass functionality in page component fix: Increase minimum height of minimal table component chore: Add auto assignment configuration for GitHub actions
  .github/auto_assign.yml
  src/app/support/bypass/page.tsx
  src/components/table/minimal-table-component.tsx
Owners: @light, @team-lead

feat: Implement automated API testing workflow using Postman CLI
  .github/workflows/automate-testing-api.yml
  src/app/support/bypass/page.tsx
  src/app/testing/auto/page.tsx
  src/components/layouts/backend-layout.tsx
  src/components/layouts/backend/navbar.tsx
  src/components/providers/auth-provider.tsx
Owners: @light, @team-lead

chore: Remove unused auto testing page component
  src/app/testing/auto/page.tsx
Owners: @light, @team-lead

feat: Add K6 load testing scripts and integrate with API for performance testing
  package-lock.json
  package.json
  src/app/api/v1/load-test/route.ts
  src/app/load-test/page.tsx
  src/helpers/scripts/authentication.ts
  src/helpers/scripts/login-test.ts
Owners: @light, @team-lead

feat: Enhance backend layout and components with improved styles and functionality
  package-lock.json
  package.json
  src/app/api/v1/load-test/route.ts
  src/app/backend/page.tsx
  src/app/testing/load-test/page.tsx
  src/components/card/summary-card.tsx
  src/components/layouts/backend-layout.tsx
  src/components/layouts/backend/content.tsx
  src/components/layouts/backend/navbar.tsx
  src/constants/sidebar-menu-constant.tsx
  src/helpers/scripts/authentication.ts
Owners: @light, @team-lead

fix: Update LogViewer header styles for better readability
  src/app/load-test/page.tsx
  src/app/testing/load-test/page.tsx
Owners: @light, @team-lead

feat: Enhance K6 load test script validation and error handling; improve UI components for better user experience
  src/app/api/v1/load-test/route.ts
  src/app/load-test/page.tsx
  src/app/testing/load-test/page.tsx
  src/helpers/scripts/authentication.ts
Owners: @light, @team-lead

feat: Add loading state to SummaryChart and SummaryCard components for improved user feedback
  src/app/testing/load-test/page.tsx
  src/components/card/summary-card.tsx
Owners: @light, @team-lead

feat: Add many-api-load script for concurrent API load testing
  src/app/testing/load-test/page.tsx
  src/helpers/scripts/many-api-load.ts
Owners: @light, @team-lead

fix: Update script path in load test route for correct file resolution
  .github/workflows/release-production.yml
  src/app/api/v1/load-test/route.ts
Owners: @light, @team-lead

feat: Enhance build process to compile TypeScript scripts and validate artifacts in release workflow
  .github/workflows/release-production.yml
Owners: @light

fix: Remove unnecessary code changes in ContentCard component
  src/components/layouts/backend/content.tsx
Owners: @light, @team-lead

style: Enhance DashboardLayout with background image and improved comments
  src/components/layouts/backend-layout.tsx
Owners: @light, @team-lead

Update globals.css
  src/styles/globals.css
Owners: @light, @team-lead

Update release-production.yml
  .github/workflows/release-production.yml
Owners: @light

Update release-production.yml
  .github/workflows/release-production.yml
Owners: @light

Update release-production.yml
  .github/workflows/release-production.yml
Owners: @light

Update release-production.yml
  .github/workflows/release-production.yml
Owners: @light

Update release-production.yml
  .github/workflows/release-production.yml
Owners: @light

fix depadency
  .github/workflows/release-production.yml
  package-lock.json
  package.json
  tsconfig.json
Owners: @light

refactor: clean up release-production.yml by removing unused defaults and commented-out steps
  .github/workflows/release-production.yml
Owners: @light

chore: update Next.js version to 15.3.4 in package.json and package-lock.json; change moduleResolution to bundler in tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Owners: none

feat: add new MaterialThemeProjectNew configuration XML file
  .idea/material_theme_project_new.xml
Owners: none

Update page.tsx
  src/app/support/bypass/page.tsx
Owners: @light, @team-lead

Update backend-layout.tsx
  src/components/layouts/backend-layout.tsx
Owners: @light, @team-lead

Improve notification error handling and API logging
  .idea/prettier.xml
  src/app/api/v1/mobile/notification/today/route.ts
  src/app/mobile/notification/page.tsx
  src/services/api-gateway.tsx
Owners: @light, @team-lead

Add master Prisma schema and update authentication flow
  .gitignore
  prisma-master/schema.prisma
  prisma/schema.prisma
  src/app/api/v1/authentication/refresh-token/route.ts
  src/app/api/v1/mobile/notification/today/route.ts
  src/components/auth/sign-in-panel.tsx
  src/services/api-header.ts
  src/stores/reducers/authentication/call-refresh-token.ts
Owners: @light, @team-lead

.github/CODEOWNERS:

# CODEOWNERS file

# Each line is a file pattern followed by one or more owners.

# Default owner for everything in the repository

-       @light

# Specific owners for certain directories or files

.github/ @light
src/ @light @team-lead
docs/ @documentation-team
tests/ @qa-team
