Repository lightofficialstudio/sb-web-helper, changes with the owners that .github/CODEOWNERS names for each.
All owners: @light, @team-lead, @documentation-team, @qa-team

.github/CODEOWNERS:

# CODEOWNERS file

# Each line is a file pattern followed by one or more owners.

# Default owner for everything in the repository

-       @light

# Specific owners for certain directories or files

.github/ @light
src/ @light @team-lead
docs/ @documentation-team
tests/ @qa-team

Initial commit
  public/favicon.ico
  public/favicon.svg
  public/web-app-manifest-192x192.png
  public/web-app-manifest-512x512.png
  src/app/layout.tsx
  src/app/support/bypass/page.tsx
Owners: @light, @team-lead

Return correct error status in notification APIs
  src/app/api/v1/mobile/notification/today/route.ts
  src/app/api/v1/mobile/notification/week/route.ts
Owners: @light, @team-lead

Add canteen hardware app page and API integration
  src/app/api/v1/hardware/canteen/application/route.ts
  src/app/api/v1/mobile/notification/today/route.ts
  src/app/api/v1/school/get-detail/route.ts
  src/app/hardware/canteen/page.tsx
  src/app/page.tsx
  src/constants/sidebar-menu-constant.tsx
  src/helpers/call-with-logging.ts
  src/locales/eng-menu.json
  src/locales/thai-menu.json
  src/services/api-log.ts
  src/stores/actions/form-card-nfc-action.ts
Owners: @light, @team-lead

Refactor canteen page and add application API action
  src/app/api/v1/school/get-detail/route.ts
  src/app/hardware/canteen/page.tsx
  src/stores/actions/hardware/canteen/call-get-application.ts
  src/stores/type.ts
Owners: @light, @team-lead

Add canteen application/version management and UI
  .idea/jsLinters/eslint.xml
  src/app/api/v1/hardware/canteen/version/[id]/route.ts
  src/app/hardware/canteen/page.tsx
  src/components/button/dropdown-button-component.tsx
  src/components/modal/modal-component.tsx
  src/stores/actions/hardware/canteen/call-get-application-by-appId.ts
  src/stores/reducers/hardware/call-get-online-device.ts
  src/stores/reducers/hardware/canteen/call-get-application-by-appId.ts
  src/stores/reducers/hardware/canteen/call-get-application.ts
  src/stores/store.ts
  src/stores/type.ts
Owners: @light, @team-lead

Refactor application list response structure
  src/app/api/v1/hardware/canteen/version/[id]/route.ts
  src/app/hardware/canteen/page.tsx
  src/stores/reducers/hardware/canteen/call-get-application-by-appId.ts
  src/stores/reducers/hardware/canteen/call-get-application.ts
  src/stores/type.ts
Owners: @light, @team-lead

Add canteen hardware version management UI and API
  src/app/api/v1/hardware/canteen/create/route.ts
  src/app/api/v1/hardware/canteen/update/route.ts
  src/app/hardware/canteen/page.tsx
  src/app/page.tsx
  src/app/support/bypass/page.tsx
  src/components/button/dropdown-button-component.tsx
  src/components/button/rounded-button-component.tsx
  src/components/input-field/input-component.tsx
  src/components/input-field/searchable-select-component.tsx
  src/components/input-field/upload-component.tsx
  src/components/modal/modal-component.tsx
  src/stores/actions/hardware/canteen/call-post-create-application-version.ts
  src/stores/actions/hardware/canteen/call-post-update-application-version.ts
  src/stores/reducers/hardware/canteen/call-get-application-by-appId.ts
  src/stores/reducers/hardware/canteen/call-post-create-application-version.ts
  src/stores/reducers/hardware/canteen/call-post-update-application-version.ts
  src/stores/store.ts
  src/stores/type.ts
Owners: @light, @team-lead

Update selectedSchool state type to string or string[]
  src/app/api/v1/hardware/canteen/update/route.ts
  src/app/health-check/all-server-status/page.tsx
  src/app/health-check/offline-sync-status/page.tsx
  src/app/health-check/online-status/page.tsx
  src/app/mobile/leave-letter/page.tsx
  src/app/mobile/notification/page.tsx
  src/app/support/bypass/page.tsx
Owners: @light, @team-lead

Update state type annotations in page components
  src/app/support/test/nfc/page.tsx
  src/app/support/upload/migrate-student/page.tsx
  src/app/testing/load-test/page.tsx
Owners: @light, @team-lead

Create route.ts
  src/app/api/v1/integrations/discord/check-deployment-status/route.ts
Owners: @light, @team-lead

✅ Add LINE chat API route and radio input component
  src/app/api/v1/hardware/canteen/update/route.ts
  src/app/api/v1/line-chat/route.ts
  src/app/hardware/canteen/page.tsx
  src/components/input-field/radio-component.tsx
  src/components/input-field/searchable-select-component.tsx
  src/stores/actions/hardware/canteen/call-post-update-application-version.ts
  src/stores/reducers/hardware/canteen/call-post-create-application-version.ts
  src/stores/reducers/hardware/canteen/call-post-update-application-version.ts
  src/stores/type.ts
Owners: @light, @team-lead

✅ Add server status API route for v2 endpoints
  src/app/api/v2/server/status/route.ts
Owners: @light, @team-lead

Refactor Thai date conversion in server status API
  src/app/api/v2/server/status/route.ts
  src/helpers/convert-time-zone-to-thai.tsx
Owners: @light, @team-lead

🚀 Enhance server status API response structure
  src/app/api/v2/server/status/route.ts
Owners: @light, @team-lead

🔧 Remove unused development API calls from server status route
  src/app/api/v2/server/status/route.ts
Owners: @light, @team-lead

✨ Refactor server status API to improve response handling and add new service checks
  src/app/api/v2/server/status/route.ts
  src/helpers/convert-time-zone-to-thai.tsx
  src/services/api-url.tsx
Owners: @light, @team-lead

🆙 Add GitHub Actions workflow for production release
  .github/workflows/release-tag.yml
Owners: @light

👉🏻 Update workflow name to 'Release Tag Version'
  .github/workflows/release-tag.yml
Owners: @light

🔧 Remove push trigger from release tag workflow
  .github/workflows/release-tag.yml
Owners: @light

🔧 Bump version to 1.0.1 in package.json
  package.json
Owners: none

🔧 Update release tag workflow to include fetch-depth for improved checkout
  .github/workflows/release-tag.yml
  src/app/api/v2/server/status/route.ts
Owners: @light, @team-lead

🆙 Simplify release workflow and deployment steps
  .github/workflows/release-tag.yml
Owners: @light

🔧 Update release workflow to support manual dispatch with optional tag input
  .github/workflows/release-production.yml
  .github/workflows/release-tag.yml
Owners: @light

✅ Add deployment progress logs to release workflow
  .github/workflows/release-production.yml
Owners: @light

✅ Fix formatting in release-production workflow
  .github/workflows/release-production.yml
Owners: @light

✅ Update Thai server names in status route
  src/app/api/v2/server/status/route.ts
Owners: @light, @team-lead

✅ Add severity level and update server status endpoints
  src/app/api/v2/server/status/route.ts
Owners: @light, @team-lead

feat: add new MaterialThemeProjectNew configuration XML file
  src/app/api/v2/server/status/route.ts
Owners: @light, @team-lead

Add Discord webhook for automated test report and update push event notification
  src/app/api/v1/integrations/discord/deploy-automate-report/route.ts
Owners: @light, @team-lead

Add mobile attendance statistics feature
  src/app/api/v1/integrations/discord/deploy-automate-report/route.ts
  src/app/api/v1/mobile/statistic/route.ts
  src/app/mobile/statistic/page.tsx
  src/components/button/minimal-button-component.tsx
  src/constants/sidebar-menu-constant.tsx
  src/helpers/convert-to-mm-dd-yyyy.ts
  src/locales/eng-menu.json
  src/locales/thai-menu.json
  src/stores/actions/mobile/call-post-statistic.ts
  src/stores/reducers/mobile/call-post-statistic.ts
  src/stores/store.ts
  src/stores/type.ts
Owners: @light, @team-lead

Update route.ts
  src/app/api/v1/integrations/discord/deploy-automate-report/route.ts
Owners: @light, @team-lead

Change bypass mode name to 'accounting'
  src/app/support/bypass/page.tsx
Owners: @light, @team-lead

Update page.tsx
  src/app/support/bypass/page.tsx
Owners: @light, @team-lead

chore: update project name and version, enhance dev script, and upgrade dependencies
  next.config.mjs
  package-lock.json
  package.json
Owners: none

✅ refactor: convert AuthPage to use AuthLoader and create AuthForm component
  src/app/auth/signin/auth-form.tsx
  src/app/auth/signin/auth-loader.tsx
  src/app/auth/signin/page.tsx
Owners: @light, @team-lead

refactor: comment out newman integration and related code in route handlers
  src/app/api/k6/run/route.ts
  src/app/api/newman/run/route.ts
Owners: @light, @team-lead

✅ Refactor SignInPanel to replace SweetAlert2 with Sonner for notifications; streamline login flow and improve error handling.
  package-lock.json
  package.json
  src/app/auth/signin/auth-form.tsx
  src/app/hardware/canteen/page.tsx
  src/components/auth/sign-in-panel.tsx
Owners: @light, @team-lead

⬆ refactor: replace SweetAlert2 with Sonner for notifications in online status page; enhance user feedback and error handling
  src/app/health-check/offline-sync-status/page.tsx
  src/app/health-check/online-status/page.tsx
Owners: @light, @team-lead

🚀 Refactor page.tsx for improved readability and maintainability; updated formatting, reorganized imports, and enhanced dropdown functionality for school selection.
  src/app/support/bypass/page.tsx
Owners: @light, @team-lead

refactor: replace SweetAlert2 with Sonner for notifications in multiple pages; enhance user feedback and streamline error handling
  src/app/health-check/all-server-status/page.tsx
  src/app/support/bypass/page.tsx
  src/app/support/test/nfc/page.tsx
Owners: @light, @team-lead
